.popup-group {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.8);

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    display: none;

    &--popup_opened{
        display: flex;
    }
}

.popup__inner{
    border-radius: 10px;
    background-color: white;
    color: black;
    position: fixed;
   
    padding: 25px;

    width: 90%;
    height: 90%;

    max-width: 430px;
    max-height: 330px;

    @include breakpoint($medium){
        padding: 25px 22px;
    }
}

.popup__inner--edit-profile{
    display: none;

    &--visible{
        display: block;
    }
}

.popup__inner--add-photo{
    display: none;
    flex-direction: column;
    justify-content: space-between;

    &--visible{
        display: flex;
    }
}



.popup__input{
    border: 0px;
}

.popup__form-input{
    position: relative;

    &::before{
        content: ' ';
        width: 100%;
        height: 1px;
        background-color: rgba($color: #000000, $alpha: 0.3);
        position: absolute;
        bottom: -5px;
    }
}

.popup__input-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
}

.popup__form-edit-profile{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
}