input {
    width: 100%;
}

.popup-group {
    z-index: 10;

    width: 100%;
    height: 100%;

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    display: flex;
    opacity: 0;

    pointer-events: none;

    transition: 0.2s ease-in-out all;

    &--popup-opened {
        opacity: 1;
        pointer-events: all;
    }
}

.popup__backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.8);
}

.popup__inner {
    border-radius: 10px;
    background-color: white;
    color: black;
    position: fixed;

    padding: 25px;

    width: 90%;
    height: 90%;

    max-width: 430px;
    max-height: 330px;

    @include breakpoint($medium) {
        padding: 25px 22px;
    }

    opacity: 0;
    pointer-events: none;

    &--active {
        opacity: 1;
        pointer-events: all;
    }
}

.popup__inner--add-photo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup__input {
    border: 0px;
}

.popup__form-input {
    position: relative;
}

.popup__input-border {
    width: 100%;
    height: 1px;
    background-color: $light-grey;
    position: absolute;
    bottom: -5px;

    &--error {
        background-color: $light-red;
    }
}

.popup__input-error {
    position: absolute;
    color: red;

    bottom: -25px;
    display: none;

    &--error {
        display: block;
    }
}

.popup__input-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 45px;
}

.popup__form-edit-profile {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
}

.popup__actual-photo-container {
    padding: 0;
    background-color: rgba($color: #fff, $alpha: 0.1);

    max-width: none;
    max-height: none;
}

.popup__actual-photo {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
