<div class="popup__inner popup__form-edit-profile" id="popupEditProfile">

    <form action="" class="popup__form-edit-profile" id="form-edit-profile">
        <p class="typography__title typography__extra-bold">Редактировать профиль</p>

        <div class="popup__input-group">

            <div class="popup__form-input typography__body1" id="input-name-container">
                <input type="text" id="input-name" value="" class="popup__input">
                <div id="input-name-error" class="popup__input-error typography__caption"></div>
                <div class="popup__input-border"></div>
            </div>

            <div class="popup__form-input typography__body1" id="input-description-container">
                <input type="text" id="input-description" value="Исследователь океана" class="popup__input">
                <div id="input-description-error" class="popup__input-error typography__caption"></div>
                <div class="popup__input-border"></div>
            </div>

        </div>

        <button class="button--black-full-width typography__body1" id="buttonUserData">Сохранить</button>
    </form>

    <div class="button button--close" name="popupEditProfileToggleButton"></div>

</div>



<div class="popup__inner popup__inner--add-photo" id="popupAddPhoto">

    <form action="" class="popup__form-edit-profile" id="form-add-new-place">
        <p class="typography__title typography__extra-bold">Новое место</p>

        <div class="popup__input-group">

            <div class="popup__form-input typography__body1" id="input-name-of-new-place-container">
                <input type="text" id="input-name-of-new-place" class="popup__input" placeholder="Название">
                <div class="popup__input-error typography__caption">Вы пропустили это поле.</div>
                <div class="popup__input-border"></div>
            </div>

            <div class="popup__form-input typography__body1" id="input-link-on-new-place-container">
                <input type="text" id="input-link-on-new-place" class="popup__input" placeholder="Ссылка на картинку">
                <div class="popup__input-error typography__caption">Введите адрес сайта.</div>
                <div class="popup__input-border"></div>
            </div>
            

        </div>

        <button class="button--black-full-width typography__body1" id="buttonAddNewPlace">Сохранить</button>
    </form>

    <div class="button button--close" name="popupAddPhotoToggleButton"></div>

</div>

<div class="popup__inner popup__actual-photo-container" id="popupActualPhoto">

    <img src="" class="popup__actual-photo" id="actualImage">

    <div class="button button--close" name="popupActualPhotoToggleButton"></div>

</div>