<div class="popup__inner popup__inner--edit-profile">

    <form action="" class="popup__form-edit-profile">
        <p class="typography__title typography__extra-bold">Редактировать профиль</p>

        <div class="popup__input-group">

            <div class="popup__form-input typography__body1">
                <input type="text" id="input-name" value="" class="popup__input">
            </div>

            <div class="popup__form-input typography__body1">
                <input type="text" id="input-description" value="Исследователь океана" class="popup__input">
            </div>

        </div>

        <button class="button--black-full-width typography__body1">Сохранить</button>
    </form>

    <div class="button button--close" name="toggle-popup-edit-profile"></div>

</div>



<div class="popup__inner popup__inner--add-photo">

    <p class="typography__title typography__extra-bold">Загрузить фото</p>

    <div class="popup__inputs">

        ФОТО

    </div>

    <button class="button--black-full-width typography__body1">Сохранить</button>

    <div class="button button--close" name="toggle-popup-add-photo"></div>

</div>